<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.educ.amupedia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMUPedia">
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.privacy_policy"></activity>
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.mechanics" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.english_btech" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.BE_first_year" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.comingsoonanime" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.feedback" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.elb" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.som" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.manufacturinglabs" />
        <activity android:name=".english" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.engineeringgraphics" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.computer" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Environmentalstudies" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Elecengineering" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.thermodynamics" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.appliedphysicslabf" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.appliedphysicsf" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.appliedchemistrylab" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.appliedchemistryf" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Apmsbtf" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Apmfbtf" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Btechfirstyear" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Helpinghands" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Team" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Aboutus" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Blog" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Courses" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Btechhomepage" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.BEhomepage" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.Drawyer" />
        <activity android:name="edu.educ.amupedia.edu.example.amupedia.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3502546896023212~3072178172" />
    </application>

</manifest>